*{  /* resete css, limpa padrões ddos navegadores*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{ /* APLICAÇÃO DA COR NO CORPO DA PAGINA*/
    background-color: #E7E7E7;
    padding-top: 100px; /* posição para baixo*/
}

header{ /* aplicação de estilo no cabeçalho*/
     display: flex;/* elementos ficarão ao lado do outro*/
     align-items: center;  /*alinhar ao centro na vertical*/
     margin-bottom: 40px;
}

header img {
    height: 36px; /*dimimnui o tamanho da imagem*/
    margin-right: 16px;
}

header h1 { /* cabeçalho "Caculadora médias"*/
    font-size:  40px;
    font-weight: bold;
}

.container { /* vai ocupar o espaçõ de 100% até 960 pix"*/
    max-width: 960px;
    width: 100%;
    margin: 0 auto; /*centralizar na horizontal*/
}

form {
    display: flex; /*ficarão uniformes*/
    max-width: 640px;
    width: 100%;
    justify-content: space-between; /*espaçamenti entre os elementos*/
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px; /*espaçamento*/
}

form button {
    background-color: #009432;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table{
    width: 100%;
}

table th {
    border-bottom: 2px solid #000; /*linha tabela*/
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 16px 0; /*espaçamento*/
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

table td img {
    height: 30px;
}

.resultado {
    padding: 8px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
}

.aprovado {
    background-color: #009432;
}

.reprovado{
    background-color: red;
}